
#title_about,
.abouot{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#title_about{
    margin-top: 20%;
    font-size: 400%;
    color: rgb(219, 96, 87);
    margin-bottom: 0;
}
.abouot{
    
    color: black;
    opacity: 0.7;
    font-size: 130%;
}

#about_maim{
    margin-top: 8%;
}