body{
    direction: rtl;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}
#head{
    width: 100%;
    height: 28%;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    background-color:white;
    z-index: 3;
}
#logo{
    margin-top: 8px;
    height: 65%;

}
#headbuttons{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 7%;
    margin-top: 5%;
}


.button{
    text-decoration: none;
    font-size:x-large;
    border-radius: 10px;
    background-color: #a4d246;
    height: fit-content;
    /* padding-left: 35px;
    padding-right: 35px;
    padding-top:5px;
    padding-bottom: 5px; */
    padding: 10px;
    margin: 6px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#button1{
    list-style: none;
   
}

#button2{
    list-style: none; 
}

#menue{
    right: 0;
    top: 20%;
    position: fixed;
    background-color: black;
    width: 100%;
    height:6%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 6;
}

.navlink{
    list-style: none;
    margin-left: 3%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navlink a{
    text-decoration: none;
    color:rgb(255, 216, 90) ;
    font-size:x-large;
    padding: 7px 18px;
}

.navlink a:hover{
  background-color:rgb(255, 216, 90) ;
  color: black;
  /* height: 100%; */
  width:fit-content;
}
#footer{
    width: 100%;
    background-color: rgba(23, 23, 23, 0.905);
    height: 300px;
   
}


