#price_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align:center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }